<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bocft.bocpet.webapi.module.petmgt.mapper.PetMapper">
    <resultMap id="BaseResultMap" type="com.bocft.bocpet.webapi.module.petmgt.entity.Pet">
        <id column="id" property="id" jdbcType="CHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="desc" property="desc" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="VARCHAR"/>
        <result column="weight" property="weight" jdbcType="CHAR"/>
        <result column="birth_day" property="birth_day" jdbcType="CHAR"/>
        <result column="create_time" property="create_time" jdbcType="CHAR"/>
        <result column="health_info" property="health_info" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,name,gender,age,weight,birth_day,create_time,health_info
    </sql>

    <select id="selectAllPets" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pet
    </select>
    <insert id="insertPet" parameterType="com.bocft.bocpet.webapi.module.petmgt.entity.Pet">
    insert into pet (id,name,gender,age,weight,birth_day,create_time,health_info)
    values (#{id,jdbcType=CHAR}, #{name,jdbcType=CHAR}, #{gender,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR},
      #{weight,jdbcType=CHAR}, #{birth_day,jdbcType=CHAR}, #{create_time,jdbcType=VARCHAR},
      #{health_info,jdbcType=VARCHAR})
  </insert>
</mapper>